


.header{
    background-color:rgb(222, 222, 226);
    width: 100%;
    height: 18%;
    position: absolute;
    left: 0%;
     top: 0%;
     background: transparent;
     


}

#h1{
    position: absolute;
    backdrop-filter: blur(7px);
    margin-top: 20%;
    margin-left: 25%;
    padding: 2px;
    background-color:rgba(255,255,255,0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1.2px solid rgb(255, 255, 255);
    padding: 36px;
    border-radius: 100px;
    padding-left: 80px;
    padding-right: 80px;
    font-family:sans-serif;      
    animation:zoom-out 2s; 
    opacity: 1; 
   }
   #home{
    margin-left: 20%;
   position: absolute;
    margin-top: 3%;
    text-decoration: none;
    color:rgb(237, 239, 246);
    font-size: 19px;
    cursor: pointer;
    transition: border-bottom 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
#home:hover{
    border-bottom: 2px solid black;
}

   
#peek{
   margin-left: 30%;
   position: absolute;
    margin-top: 3%;
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
    margin-bottom: 10px;
    transition:  width .3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    color: #000;
    text-decoration: none;
}
#peek::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}
#peek:hover::after{
   width: 100%;
}

#secu{
    margin-left: 40%;
    position: absolute;
    margin-top: 3%;
    text-decoration: none;
    color: black;
    font-size: 19px;
    cursor: pointer;
    transition: border-bottom 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    transition:  width .3s;
 }
 #secu::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}
#secu:hover::after{
   width: 100%;
}
 
 #blog{
    margin-left: 50%;
    position: absolute;
    margin-top: 3%;
    text-decoration: none;
    color: black;
    font-size: 19px;
    cursor: pointer;
    transition: border-bottom 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    transition:  width .3s;
 }

 #blog::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}
#blog:hover::after{
   width: 100%;
}
 
 #down{
    margin-left: 58%;
    position: absolute;
    margin-top: 3%;
    font-size: 19px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: border-bottom 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    transition:  width .3s;
 }

 #down::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}
#down:hover::after{
   width: 100%;
}
 #about{
    margin-left: 69%;
    position: absolute;
    margin-top: 3%;
    font-size: 19px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: border-bottom 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    transition:  width .3s;
 }

 #about::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}
#about:hover::after{
   width: 100%;
}
 #get{
    margin-left: 76%;
    position: absolute;
    margin-top: 1.5%;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 2px;
    background-color: rgb(225, 84, 32);
    padding: 22px;
    border-radius: 60px;
    padding-left: 80px;
    padding-right: 80px;
   
 }
 #offer{
   position: absolute;
   top: 55%;
   animation-name: example;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   
   animation: example 15s ;
  
   
 }

 @keyframes example {
   0% {transform: rotate(180deg);}
   from {top: -50%;}
   to {top: 300px; }
 
 }
 #offer2{
   position: absolute;
   top: 55%;
   left: 40%;
   animation-name: example1;
   animation-duration: 13s;
   animation: example1 15s ;
   animation-fill-mode: forwards;
   animation-direction:alternate;
   
 }
 @keyframes example1 {
   50% {transform: rotate(180deg);}
   from {top: -50%;}
   to {top: 300px; }
 }
 #worng{
   position: absolute;
  top: 55%;
  left: 60%;
   animation-name: example2;
   animation-duration: 15s;
   animation-fill-mode: forwards;
   animation-direction:alternate;
   animation: example2 15s ;
   transition: width 2s, height 2s, transform 2s
  
   
 }

 @keyframes example2 {
   50% {transform: rotate(180deg);}
   from {top: -50%;}
   to {top: 300px; }
 }
 #offer3{
   position: absolute;
   top: 19%;
  left: 3%; 
   animation-name: example5;
   animation-duration: 10s;
   animation-fill-mode: forwards;
   animation-direction:alternate;
   animation: example 12s ;
 }
 @keyframes example5 {
   50% {transform: rotate(30deg);}
   from {top: -50%;}
   to {top: 300px; }
 }
 #offer4{
   position: absolute;
   top: 55%;
   left: 20%;
   animation-name: example3;
   animation-duration: 18s;
   animation-fill-mode: forwards;
   animation-direction:alternate;
   animation: example3 13s ;
 }
 @keyframes example3 {
   50% {transform: rotate(180deg);}
   from {top: -50%;}
   to {top: 300px; }
 }
 
 #offer5{
   position: absolute;
   top: 55%;
   left: 80%;
   animation-name: example4;
   animation-duration: 18s;
   animation-fill-mode: forwards;
   animation-direction:alternate;
   animation: example4 10s ;
    
     
 }
 @keyframes example4 {
   50% {transform: rotate(30deg);}
   from {top: -50%;}
   to {top: 300px; }
 }
 

 
 #offer6{
   position: absolute;
   top: 15%;
   left: 60%;
   animation-name: example6;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   animation-direction:alternate, infinite;
   animation: example6 10s ;
 }
 @keyframes example6 {
   50% {transform: rotate(180deg);}
   from {top: -50%;}
   to {top: 300px; }
 }
  
 #secure1{
   position: absolute;
   top: 15%;
   left: 25%;
   animation-name: example6;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   animation-direction:alternate, infinite;
   animation: example6 10s ;
 }
 @keyframes example6 {
   50% {transform: rotate(180deg);}
   from {top: -50%;}
   to {top: 300px; }
 }
  
 #secure2{
   position: absolute;
   top: 20%;
   left: 80%;
   animation-name: example6;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   animation-direction:alternate, infinite;
   animation: example6 4s ;
 }
 @keyframes example6 {
   50% {transform: rotate(180deg);}
   from {top: -50%;}
   to {top: 300px; }
 }

 #blue{
  position: absolute;
  top: 15%;
  left: 40%;
  animation-name: rotate;
  animation-duration: 13s;
  animation: rotate 10s ;
  animation-fill-mode: forwards;
  animation-direction:alternate;
  
}
@keyframes rotate {
  50% {transform: rotate(180deg);}
  from {top: -50%;}
  to {top: 100px; }
}
#navy{
  position: absolute;
  top: 20%;
  left: 20%;
  animation-name: rotate;
  animation-duration: 13s;
  animation: rotate 10s ;
  animation-fill-mode: forwards;
  animation-direction:alternate;
  
}
@keyframes rotate {
  50% {transform: rotate(180deg)}
  from {top: -50%;}
  to {top: 100px; }
}
#uno{
   left: 4%;
   position: absolute;
   transition: transform 0.2s  ease;
   animation: rotate;
  
  
    
}

#uno:hover {
  transform: rotate(360deg);
}

#vam{
position: absolute;
margin-top: 30%;
margin-left: 40%;

}
#pee{
  position: absolute;
  top: 15%;
  left: 0%;
  right: 100%;

}
